:root {
  --background_white: rgb(240, 240, 240);
  --text_black: rgb(43, 43, 43);
  --text_black_darker: rgb(0, 0, 0);
}

/* #0A1328 */
/* AAAAAA */

@font-face {
	font-family: 'Yekan-bakh';
	src:	url('./Fonts//YekanBakh-Bold/@font-face/Yekan-bakh.eot'), /* IE9 Compat Modes */
			url('./Fonts//YekanBakh-Bold/@font-face/Yekan-bakh.woff2') format('woff2'), /* Modern Browsers */
			url('./Fonts/YekanBakh-Bold/@font-face/Yekan-bakh.woff') format('woff'), /* Modern Browsers */
			url('./Fonts/YekanBakh-Bold/@font-face/Yekan-bakh.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}

@font-face {
	font-family: 'sans';
	src:	url('./Fonts/product-sans/Product\ Sans\ Regular.ttf'); /* IE9 Compat Modes */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}

body {
  padding: 0 5%;
  direction: rtl;
  background-color: var(--background_white);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	font-family: 'Yekan-bakh';
  /* background-color: var(--background_black); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
